{% block content %}
       
<h3>Appetizers</h3>

    <div class="menuItem">
        <div class="menuItemName">
            Chicken Wings
        </div>
        <div class="menuItemPrice">
            8.95
        </div>
        <div class="menuItemDescrip">
            Hot, Med, Mild, BBQ, Sweet Chili, Spicy Peanut Sauce, Carbonara, Cacciatore<br>
            Includes Celery and Bleu Cheese
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Mozzarella Sticks
        </div>
        <div class="menuItemPrice">
            7.45
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Fried Calamari
        </div>
        <div class="menuItemPrice">
            8.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Polpetta Gigante (Meatball)
        </div>
        <div class="menuItemPrice">
            8.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Ribs with Sweet Chili Sauce
        </div>
        <div class="menuItemPrice">
            8.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Sauteed Mussels
        </div>
        <div class="menuItemPrice">
            12.95
        </div>
    </div>

<h3>Side Orders</h3>

    <div class="menuItem">
        <div class="menuItemName">
            Garlic Bread
        </div>
        <div class="menuItemPrice">
            2.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Garlic Rolls - 6
        </div>
        <div class="menuItemPrice">
            2.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            French Fries
        </div>
        <div class="menuItemPrice">
            3.45
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Meatballs
        </div>
        <div class="menuItemPrice">
            3.45
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Sauteed Spinach
        </div>
        <div class="menuItemPrice">
            3.95
        </div>
    </div>

<h3>Salads</h3>

    <div class="menuItem">
        <div class="menuItemName">
            Side Salad
        </div>
        <div class="menuItemPrice">
            3.45
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Garden Salad
        </div>
        <div class="menuItemPrice">
            5.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Mini Greek Salad
        </div>
        <div class="menuItemPrice">
            5.45
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Greek Salad
        </div>
        <div class="menuItemPrice">
            8.95
        </div>
    </div>
    
    <div class="menuItem">
        <div class="menuItemName">
            Caesar Salad
        </div>
        <div class="menuItemPrice">
            6.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Antipasto Salad
        </div>
        <div class="menuItemPrice">
            8.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Add Grilled Chicken 
        </div>
        <div class="menuItemPrice">
            2.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Add Crispy Chicken
        </div>
        <div class="menuItemPrice">
            4.95
        </div>
    </div>



<h3>Soup</h3>
<h4>Chicken Soup or Minestrone</h4>

    <div class="menuItem">
        <div class="menuItemName">
            Cup
        </div>
        <div class="menuItemPrice">
            3.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Bowl
        </div>
        <div class="menuItemPrice">
            4.95
        </div>
    </div>

{% endblock %}
