{% block content %}
<h3 id="beverages">Beverages</h3>
<h4>Non-Alcoholic</h4>
        
    <div class="menuItem">
        <div class="menuItemName">
            Can of Soda
        </div>
        <div class="menuItemPrice">
            1.25
        </div>
    </div>
        
    <div class="menuItem">
        <div class="menuItemName">
            Bottled Water
        </div>
        <div class="menuItemPrice">
            1.5
        </div>
    </div>
        
    <div class="menuItem">
        <div class="menuItemName">
            Apple Juice
        </div>
        <div class="menuItemPrice">
            1.5
        </div>
    </div>
        
    <div class="menuItem">
        <div class="menuItemName">
            Fountain Drink
        </div>
        <div class="menuItemPrice">
            2
        </div>
    </div>

<h4>Beers</h4>
        
    <div class="menuItem">
        <div class="menuItemName">
            Draft
        </div>
        <div class="menuItemDescrip">
            Amberbock, Budweiser, Bud Light, Shock Top, Stella Artois
        </div>
    </div>
        
    <div class="menuItem">
        <div class="menuItemName">
            Domestic
        </div>
        <div class="menuItemDescrip">
            Budweiser, Bud Light, Coors Light, Michelob Ultra, O'Douls, Yuengling
        </div>
    </div>

    <div class="menuitem">
        <div class="menuitemname">
            imported
        </div>
        <div class="menuitemdescrip">
            heineken, moretti, becks, corona
        </div>
    </div>

<h4>Wine</h4>

    <div class="menuitem">
        <div class="menuitemname">
            House Wine
        </div>
        <div class="menuItemPrice">
            Bottle - 16
        </div>
        <div class="menuItemPrice2">
            Glass - 4.5 |
        </div>
        <div class="menuitemdescrip">
            Merlot, Paisano, Chablis, Cabernet, White Zinfindel<br><br>
            <h5 style="margin-bottom:-20px;">Ask about our Specialty Wine Selection</h5>
        </div>
    </div>

{% endblock %}
