{% block content %}

<h3>Salads</h3> 

<div class="menuItem">
    <div class="menuItemName">
        Soup & Salad            
    </div>
    <div class="menuItemPrice">
        7.95
    </div>
    <div class="menuItemDescrip">
        Includes Garlic Rolls
    </div>
</div>

<div class="menuItem">
    <div class="menuItemName">
        Small Greek Salad            
    </div>
    <div class="menuItemPrice">
        7.95
    </div>
    <div class="menuItemDescrip">
        Includes Pita Bread
    </div>
</div>

<div class="menuItem">
    <div class="menuItemName">
        Small Garden Salad            
    </div>
    <div class="menuItemPrice">
        5.95
    </div>
    <div class="menuItemDescrip">
        Includes Garlic Rolls
    </div>
</div>

<div class="menuItem">
    <div class="menuItemName">
        Small Caesar Salad            
    </div>
    <div class="menuItemPrice">
        6.95
    </div>
    <div class="menuItemDescrip">
        Includes Garlic Rolls
    </div>
</div>

<div class="menuItem">
    <div class="menuItemName">
        Add Grilled Chicken            
    </div>
    <div class="menuItemPrice">
        2.95
    </div>
</div>

<div class="menuItem">
    <div class="menuItemName">
        Add Crispy Chicken            
    </div>
    <div class="menuItemPrice">
        4.95
    </div>
</div>


<h3>Entrees</h3>
<h4>Choice of Spaghetti, Linguini, or Penne<br>
    (Served with Garlic Bread or Rolls)</h4>

<div class="menuItem">
    <div class="menuItemName">
        Marinara
    </div>
    <div class="menuItemPrice">
        5.95
    </div>
</div>

<div class="menuItem">
    <div class="menuItemName">
        Garlic & Oil
    </div>
    <div class="menuItemPrice">
        5.95
    </div>
</div>

<div class="menuItem">
    <div class="menuItemName">
        Meatball
    </div>
    <div class="menuItemPrice">
        6.95
    </div>
</div>

<div class="menuItem">
    <div class="menuItemName">
        Meat Sauce
    </div>
    <div class="menuItemPrice">
        6.95
    </div>
</div>

<div class="menuItem">
    <div class="menuItemName">
        Creamy Alfredo
    </div>
    <div class="menuItemPrice">
        6.95
    </div>
</div>

<div class="menuItem">
    <div class="menuItemName">
        Three Cheese Ravioli
    </div>
    <div class="menuItemPrice">
        6.95
    </div>
</div>

<h3>Pizza</h3>

<div class="menuItem">
    <div class="menuItemName">
        Personal Cheese Pizza
    </div>
    <div class="menuItemPrice">
        4.45
    </div>
</div>

<div class="menuItem">
    <div class="menuItemName">
        Additional Toppings
    </div>
    <div class="menuItemPrice">
        .75
    </div>
</div>

<h3>1/2 Sub Combos<h3>
<h4>w/choice of Cup of Soup, Salad, or French Fries</h4>

<div class="menuItem">
    <div class="menuItemName">
        Meatball Parmigiana
    </div>
    <div class="menuItemPrice">
        5.95
    </div>
</div>

<div class="menuItem">
    <div class="menuItemName">
        Sausage & Green Peppers
    </div>
    <div class="menuItemPrice">
        5.95
    </div>
</div>

<div class="menuItem">
    <div class="menuItemName">
        Grilled or Crispy Chicken
    </div>
    <div class="menuItemPrice">
        5.95
    </div>
</div>

<div class="menuItem">
    <div class="menuItemName">
        Italian Cold Cut
    </div>
    <div class="menuItemPrice">
        5.95
    </div>
</div>

{% endblock %}
