{% block content %}

<h3>Sandwiches</h3>

    <div class="menuItem">
        <div class="menuItemName">
            Italian Cold Cut
        </div>
        <div class="menuItemPrice">
            7.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Gyro
        </div>
        <div class="menuItemPrice">
            8.95
        </div>
        <div class="menuItemDescrip">
            Lettuce, Tomatoes, Onions, Tzatziki
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Philly Cheese Steak with Onions
        </div>
        <div class="menuItemPrice">
            8.95
        </div>
        <div class="menuItemDescrip">
            Add Green Peppers or Mushrooms - .50 each
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Meatball Parmigiana
        </div>
        <div class="menuItemPrice">
            8.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Vial Parmigiana
        </div>
        <div class="menuItemPrice">
            9.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Sausage Hoagie
        </div>
        <div class="menuItemPrice">
            7.95
        </div>
        <div class="menuItemDescrip">
            Sausage, Onion, Green Peppers
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Chicken Parmigiana
        </div>
        <div class="menuItemPrice">
            8.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Eggplant Parmigiana
        </div>
        <div class="menuItemPrice">
            7.95
        </div>
    </div>

<h3 id="kids">Kids Menu</h3>

    <div class="menuItem">
        <div class="menuItemName">
            Mini Pizza
        </div>
        <div class="menuItemPrice">
            3.95
        </div>
        <div class="menuItemDescrip">
            <h5>Toppings - .75</h5>
            Ham, Bacon, Sausage, Black Olives, Onions, Anchovies, Mushrooms,
            Banana Peppers, Cherry Peppers, Sliced Tomatoes, Feta Cheese, Jalapenos,
            Pineapple, Meatballs, Green Peppers, Eggplant, Broccoli, Spinach, Pepperoni
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Three Cheese Ravioli
        </div>
        <div class="menuItemPrice">
            6.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Pasta Marinara
        </div>
        <div class="menuItemPrice">
            6.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Pasta
        </div>
        <div class="menuItemPrice">
            8.95
        </div>
        <div class="menuItemDescrip">
            Choice of Meatball, Alfredo, or Meat Sauce
        </div>
    </div>

<h3 id="desserts">Desserts</h3>

    <div class="menuItem">
        <div class="menuItemName">
            Cannoli
        </div>
        <div class="menuItemPrice">
            2.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Tiramisu
        </div>
        <div class="menuItemPrice">
            5.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Nutella Pizza
        </div>
        <div class="menuItemPrice">
            4.45
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Rice Pudding
        </div>
        <div class="menuItemPrice">
            2.95
        </div>
    </div>

{% endblock %}
