{% block content %}

<h3 id="pasta">Pasta</h3>
<h4>Choice of Spaghetti, Linquini, or Penne</h4>

    <div class="menuItem">
        <div class="menuItemName">
            Marinara Sauce
        </div>
        <div class="menuItemPrice">
            10.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Garlic & Oil
        </div>
        <div class="menuItemPrice">
            10.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Eggplant Sicilliana
        </div>
        <div class="menuItemPrice">
            11.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Meatball
        </div>
        <div class="menuItemPrice">
            11.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Meat Sauce
        </div>
        <div class="menuItemPrice">
            11.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Fettucini Carbonara
        </div>
        <div class="menuItemPrice">
            11.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Clam Sauce (Red or White)
        </div>
        <div class="menuItemPrice">
            12.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Fettucini Alfredo
        </div>
        <div class="menuItemPrice">
            12.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Penne Ala Vodka
        </div>
        <div class="menuItemPrice">
            12.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Baked Ziti
        </div>
        <div class="menuItemPrice">
            12.95
        </div>
    </div>

<h3>Entrees</h3>

    <div class="menuItem">
        <div class="menuItemName">
            Lasagna
        </div>
        <div class="menuItemPrice">
            12.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Frutti de Mare
        </div>
        <div class="menuItemPrice">
            19.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Chicken Parmigiana with Spaghetti
        </div>
        <div class="menuItemPrice">
            12.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Calamari Arrabiata over Linguini
        </div>
        <div class="menuItemPrice">
            12.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Eggplant Parmigiana over Spaghetti
        </div>
        <div class="menuItemPrice">
            11.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Veal Parmigiana over Spaghetti
        </div>
        <div class="menuItemPrice">
            13.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Cheese Ravioli
        </div>
        <div class="menuItemPrice">
            12.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Shrimp Scampi
        </div>
        <div class="menuItemPrice">
            14.95
        </div>
    </div>

{% endblock %}
