{% block content %}

<h3 id="pizza">Pizzas</h3>

    <div class="menuItem">
        <div class="menuItemName">
            Cheese
        </div>
        <div class="menuItemPrice">
            16" 13.95
        </div>
        <div class="menuItemPrice2">
            14" 11.95 | 
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            10" Gluten Free
        </div>
        <div class="menuItemPrice">
            10.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Sicilian
        </div>
        <div class="menuItemPrice">
            16.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Additional Toppings
        </div>
        <div class="menuItemPrice">
            1.75
        </div>
        <div class="menuItemDescrip">
            Ham, Bacon, Sausage, Black Olives, Onions, Anchovies, Mushrooms,
            Banana Peppers, Cherry Peppers, Sliced Tomatoes, Feta Cheese, Jalapenos,
            Pineapple, Meatballs, Green Peppers, Eggplant, Broccoli, Spinach, Pepperoni
        </div>
    </div>

<h3>Specialty Pizzas</h3>

    <div class="menuItem">
        <div class="menuItemName">
            Villa Rose Special
        </div>
        <div class="menuItemPrice">
            16" 18.95
        </div>
        <div class="menuItemPrice2">
            14" 16.95 | 
        </div>
        <div class="menuItemDescrip">
            Sausage, Mushrooms, Onions, Green Peppers
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Florentine Pizza
        </div>
        <div class="menuItemPrice">
            16" 17.95
        </div>
        <div class="menuItemPrice2">
            14" 15.95 | 
        </div>
        <div class="menuItemDescrip">
            Mozzarella, Ricotta, Parmigiano, Spinach
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Meat Lovers
        </div>
        <div class="menuItemPrice">
            16" 19.95
        </div>
        <div class="menuItemPrice2">
            14" 17.95 | 
        </div>
        <div class="menuItemDescrip">
            Pepperoni, Sausage, Bacon, Meatballs, Ham
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Hawaiian
        </div>
        <div class="menuItemPrice">
            16" 15.95
        </div>
        <div class="menuItemPrice2">
            14" 13.95 | 
        </div>
        <div class="menuItemDescrip">
            Pineapple, Ham
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Pomodoro
        </div>
        <div class="menuItemPrice">
            16" 16.95
        </div>
        <div class="menuItemPrice2">
            14" 14.95 | 
        </div>
        <div class="menuItemDescrip">
            Sliced Tomato, Garlic, Olive Oil, Mozzarella
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Mia's Pizza
        </div>
        <div class="menuItemPrice">
            16" 15.95
        </div>
        <div class="menuItemPrice2">
            14" 13.95 | 
        </div>
        <div class="menuItemDescrip">
            Tomatoes, Feta Cheese, Basil
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            White Special
        </div>
        <div class="menuItemPrice">
            16" 16.95
        </div>
        <div class="menuItemPrice2">
            14" 14.95 | 
        </div>
        <div class="menuItemDescrip">
            Mozzarella, Ricotta, Parmigiano
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Old Fashioned Villa Rose
        </div>
        <div class="menuItemPrice">
            16" 19.95
        </div>
        <div class="menuItemPrice2">
            14" 17.95 | 
        </div>
        <div class="menuItemDescrip">
            Sausage, Pepperoni, Mushrooms, Onions, Green Peppers, Black Olives
        </div>
    </div>

{% endblock %}
