<h1>About Villa Rose</h1>
<p>
According to Smithsonian Magazine, the first pizzeria opened in 1830 in Italy, and it is 
still in business. Broward accounts for more than 200 of the 61,000 pizza shops in the U.S. 
In a recent survery, nearly two out of three Americans said they preferred thin-crust pizza 
pepperoni is the top topping (anchovies are at the bottom of the list). One of the oldest – 
if not the oldest – pizzerias in Broward is Villa Rose on State Road 7 in Hollywood. 
Villa Rose opened in 1957.
</p>
