<title>Catering</title>
{% extends "base.html" %}
{% block content %}

<h1 class="title">Catering</h1>

<h2>Pizza Parties</h2>

    <div class="menuItem">
        <div class="menuItemName">
            Large 16" Cheese Pizza
        </div>
        <div class="menuItemPrice">
            10 or More - 11.95ea.
        </div>
    </div>

<h2>Party Trays</h2>

    <div class="menuItem">
        <div class="menuItemName">
            Garden Salad
        </div>
        <div class="menuItemPrice">
            24.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Greek Salad
        </div>
        <div class="menuItemPrice">
            29.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Caesar Salad
        </div>
        <div class="menuItemPrice">
            24.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Meatballs
        </div>
        <div class="menuItemPrice">
            42.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Half Tray Lasagna
        </div>
        <div class="menuItemPrice">
            52.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Full Tray Lasagna
        </div>
        <div class="menuItemPrice">
            99
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Baked Ziti
        </div>
        <div class="menuItemPrice">
            49.95
        </div>
    </div>

<h2>Spaghetti, Linguini or Penne</h2>

    <div class="menuItem">
        <div class="menuItemName">
            Alfredo
        </div>
        <div class="menuItemPrice">
            47.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Pasta Marinara
        </div>
        <div class="menuItemPrice">
            24.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Garlic & Oil
        </div>
        <div class="menuItemPrice">
            24.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Meat Sauce
        </div>
        <div class="menuItemPrice">
            34.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Penne ala Vodka
        </div>
        <div class="menuItemPrice">
            52.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Eggplant Parmigiana
        </div>
        <div class="menuItemPrice">
            54.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Sausage & Peppers
        </div>
        <div class="menuItemPrice">
            48.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Chicken Parmigiana
        </div>
        <div class="menuItemPrice">
            54.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Veal Parmigiana
        </div>
        <div class="menuItemPrice">
            59.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Garlic Roll Tray
        </div>
        <div class="menuItemPrice">
            16.95
        </div>
    </div>

    <div class="menuItem">
        <div class="menuItemName">
            Chicken Wing Tray
        </div>
        <div class="menuItemPrice">
            59.95
        </div>
    </div>

    <button><a href="{% url 'estimate' %}">Estimate</a></button>

{% endblock %}
