{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="home">

<h1 class="title">Villarose Pizzaria</h1>
<div class='content'>
    <h3 id="welcome">
        We've made this website to help get some of the information out pertaining to our
        special day.<br><br>
        Below you'll be able to RSVP to any events you might be involved with,
        find out what places we're registered with and enhance your knowledge of the parties
        involved!
    </h3>
</div>

</div>
{% endblock %}
